<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.orei.kvm</string>
  <key>ProgramArguments</key>
  <array>
    <string>/usr/local/bin/orei-kvm</string>
    <string>daemon</string>
    <string>--tray</string>
  </array>
  <key>RunAtLoad</key>
  <true/>
  <key>KeepAlive</key>
  <true/>
  <key>StandardOutPath</key>
  <string>/tmp/orei-kvm.log</string>
  <key>StandardErrorPath</key>
  <string>/tmp/orei-kvm.err</string>
</dict>
</plist>
